.App {
  background-color: black;
display: flex;
align-content: flex-start; 
max-height: 100vh;
max-width: 100vw;

}

.flex-container{
width: 100%;
    display: flex;
    flex-direction: column;

    margin-top: 0px;
}
